<% @books.each do |book| %>
  <p>
    Title
    <%= book.title %>
  </p>
  <p>
    Author
    <%= book.author %>
  </p>
  <p>
    Category
    <%= book.category %>
  </p>
  <p>
    Summary
    <%= book.summary %>
  </p>
<% end %>
