<section class="container form-box">
<% @books.each do |book| %>
  <header class="book-search-title">
    <div class="book-search_title">Title</div>
    <br />
    <%= book.title %>
  </header>
  <section class="book-search-author">
    <div class="book-search-author-title">Author</div>
    <br />
    <%= book.author %>
  </section>

  <section class="book-search-category">
    <div class="book-search-category-title">Category</div>
    <br />
    <%= book.category %>
  </section>
  <section class="book-search-summary">
    <div class="book-search-summary-title">Summary</div>
    <br />
    <%= book.summary %>
  </section>
<% end %>
</section>
