 @import "bootstrap-sprockets";
 @import "bootstrap";

.container-full {
  height: 200px;
  width: 100%;
  padding: 0;
  background-color: maroon;
}

.website-header {
  padding-top: 85px;
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 300;
}

.search-bar {
  text-align: right;
  padding-top: 60px;
  padding-right: 10px;
}
