.main-container {
  display:inline-block;
  margin-top: 20px;
  width:100%;
}
.book-content {
  text-align: center;
  margin-left: 45px;
}

.book-container {
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  height:250px;
  margin:10px 15px 10px 0;
  width:30%;
}
.book-title {
  margin-top: 10px;
  font-size: 20px;
}
