.form-box {
  margin-top: 20px;
  height: 250px;

  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.book-search-title {
  font-family: 'Open Sans', sans-serif;
}
.book-search_title{
  font-size:15px;

}

.book-search-author {
  font-family: 'Open Sans', sans-serif;
}

.book-search-author-title {
  font-size: 15px;

}
.book-search-category {
  font-family: 'Open Sans', sans-serif;
}

.book-search-category-title {
  font-size:15px;

}
.book-search-summary {
  font-family: 'Open Sans', sans-serif;
}
.book-search-summary-title {
  font-size:15px;

}
